<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ponto Médico</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>Registro de Ponto</h2>

    <form method="POST">
        <button type="submit" name="tipo" value="Entrada">
            Registrar Entrada
        </button>

        <button type="submit" name="tipo" value="Saída">
            Registrar Saída
        </button>
    </form>

    <h3>Espelho de Ponto</h3>

    <ul class="lista-ponto">
        {% for p in pontos %}
        <li>
            <strong>{{ p[0] }}</strong> — {{ p[1] }}
        </li>
        {% endfor %}
    </ul>

    <a href="/logout" class="logout">Sair</a>
</div>

</body>
</html>
